@import "Board/Board";
@import "Editor/Editor";

.App > .Dashboard {
  > .Screens {
    position: absolute;
    height: 640px;
    width: 360px;
    left: 50%;
    margin-left: -170px;
    top: 50%;
    margin-top: -320px;
    transition: margin-left 200ms, width 200ms;
    &.OpenEditor {
      width: 740px;
      margin-left: -370px;
    }
  }
}