.App > .Dashboard > .Screens > .Board > .Grid {
  > .Card {
    background-color: rgba(0, 0, 0, 0.12);
    height: 80px;
    width: 54px;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    float: left;
    transition:background-color 300ms;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    >.Index {
      position: relative;
      float: left;
      width: 54px;
      height: 54px;
      text-align: center;
      line-height: 54px;
      font-size: 20px;
      color: rgba(255,255,255,0.5);
    }
  }
}