.App > .Dashboard > .Screens {
  &.OpenEditor {
    > .Editor {
      opacity: 1;
      pointer-events: auto;
    }
  }
  > .Editor {
    position: absolute;
    height: 640px;
    width: 360px;
    background-color: #3a3a3a;
    background-color: #250c50;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
    border: 3px solid #ff2b55;
    box-sizing: border-box;
    transform: translate3d(0,0,0);
  }
}