.App > .Dashboard > .Screens > .Board {
  > .Menu {
    height: 96px;
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    > .Holder {
      position: relative;
      float: left;
      width: 222px;
      height: 96px;
      left: 50%;
      margin-left: -111px;
      > .Item {
        height: 96px;
        position: relative;
        width: 54px;
        background: rgba(255, 256, 255, 0.2);
        float: left;
        margin-right: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 96px;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        transition: background-color 200ms, font-size 50ms;
        &.Sel {
          background-color: #fff;
          color: #000;
          font-size: 30px;
          &:hover {
            background: rgba(255, 256, 255, 1);
            font-size: 30px;
            color: #000;
          }
        }
        &:last-child {
          margin-right: 0px;
        }
        &:hover {
          background: rgba(255, 256, 255, 0.5);
          font-size: 30px;
        }
      }
    }
  }
}