@import "Square";
@import "ContextMenu";

.App > .Dashboard > .Screens {
  &.OpenEditor {
    > .Editor {
      opacity: 1;
      pointer-events: auto;
    }
  }
  > .Editor {
    position: absolute;
    height: 640px;
    width: 360px;
    background-color: #3a3a3a;
    background-color: #250c50;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
    border: 3px solid #ff2b55;
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    > .Title {
      position: relative;
      width: 100%;
      float: left;
      height: 80px;
      > .Play {
        width: auto;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 6px;
        line-height: 30px;
        padding-right: 10px;
        transition: all 200ms;
        > svg {
          position: relative;
          top: 0;
          left: 0;
          float: left;
        }
        &:hover {
          background-color: #ffffff30;
          border-radius: 7px;
          left: 9px;
          cursor: pointer;
        }
      }
      > .Menu {
        width: auto;
        height: auto;
        position: relative;
        top: 10px;
        right: 11px;
        float: right;
        padding: 5px;
        transition: all 200ms;
        > svg {
          position: relative;
          top: 0;
          right: 0;
          float: right;
        }
        &:hover {
          background-color: #ffffff30;
          border-radius: 7px;
          right: 11px;
          cursor: pointer;
        }
      }
      > .Lable {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 20px;
      }
    }
    > .Boxes {
      width: 354px;
      height: auto;
      padding: 11px;
      position: relative;
      float: left;
      box-sizing: border-box;
      .Box {
        background-color: rgba(0, 0, 0, 0.4);
        height: 54px;
        width: 54px;
        border-radius: 8px;
        margin-left: 10px;
        margin-top: 10px;
        position: relative;
        float: left;
        transition: background-color 300ms;
        > .Border {
          width: 62px;
          height: 62px;
          position: absolute;
          top: -4px;
          left: -4px;
          border: 2px solid #00bcd4;
          box-sizing: border-box;
          border-radius: 10px;
          opacity: 0;
          pointer-events: none;
          transition: opacity 500ms;
        }
        &:hover {
          > .Border {
            opacity: 0.8;
            transition: opacity 200ms;
          }
        }
      }
      > .Background {
        position: absolute;
      }
      > .Playground {
        position: relative;
        float: left;
        > .Box {
          background-color: transparent;
        }
      }
      > div {
        position: absolute;
        float: left;
        width: 100%;
        height: auto;
      }
    }
    > .Save {
      position: relative;
      width: 70px;
      height: 30px;
      float: left;
      line-height: 30px;
      background: #ff2b55;
      text-align: center;
      border-radius: 8px;
      left: 50%;
      margin-left: -35px;
      top: 16px;
      transition: all 200ms;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      &:hover {
        background: #ff2b55;
        cursor: pointer;
        width: 80px;
        height: 36px;
        top: 13px;
        margin-left: -40px;
        line-height: 36px;
        font-size: 22px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      }
    }
  }
}