.App > .Dashboard > .Screens > .Editor > .Boxes > .Playground > .Box {
  &.Square.Sel {
    > .Border {
      opacity: 0.6;
    }
  }
  >.Content {
    height: 54px;
    width: 54px;
    border-radius: 8px;
    position: relative;
    float: left;
    transition: background-color 300ms;
    background: rgb(0, 204, 102);
  }
}